.static_card
    h1.short_code {{short_code}}
    table.players
        tbody
.flex_row.buttons_state_0
    button(type="button").load_join_game.leave_game Leave
    button(type="button").ready_button Ready
