{% extends 'base.html' %}
{% block title %}- Join{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/join.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='js/join.js')}}"></script>
{% endblock %}
{% block body %}
<h1>Games</h1>
<button class="button" type="button" onclick="newGame()">New Game</button>
<form onsubmit="return privateGame()">
  <input class="privateGame" type="text" placeholder="Private Game Code" autocorrect="off" autocomplete="off">
</form>
<table class="games">
  {% if games %}
  {% for key, value in games.items() %}
  <tr>
    <td><a href="/play/{{key}}">{{key}}</a></td>
    <td>{{value}}/8</td>
  </tr>
  {% endfor %}
  {% else %}
  <tr><td class="noGames">No games, make one!</td></tr>
  {% endif %}
</table>
{% endblock %}
