h1 Spyfall
.flex_row.flex_align_center
    input(type="text", placeholder="Username", value="{{username}}", autocomplete="off", spellcheck="false").username_input
    img(src="{{url_for('static', filename='img/send.svg')}}").input_submit.username_submit